* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.219);
  width: 50%;
}

.drag-bg {
  border: rgba(0, 0, 0, 0.137) solid 1px;
  padding: 0.1em 0.4em 0.1em 0.4em;
  align-self: center;
  position: absolute;
  right: 0;
}

.edit {
  border: rgba(0, 0, 0, 0.137) solid 1px;
  padding: 0.1em 0.4em 0.1em 0.4em;
  align-self: center;
  position: absolute;
  right: 50px;
}

.editInput {
  position: absolute;
  top: 0.6em;
  left: 1.8em;
  border: 1px solid black;
}

.error {
  position: absolute;
  top: 0;
  height: 3em;
  padding-top: 0.8em;
  border-radius: 2%;
}

.success {
  position: absolute;
  top: 0;
  height: 3em;
  padding-top: 0.8em;
  border-radius: 2%;
}

.line-through {
  text-decoration: line-through;
}

.dragable {
  cursor: move;
}
