* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bottom-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    width: 50%;
}

.margin-desc {
    margin-top: 3.2%;
}

.drag-bg-img {
    background: black;
    width: 0.3em;
    height: 0.3em;
    color: white;
    border-radius: 50%;
    align-self: center;
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.error {
    position: absolute;
    top: 0;
    height: 5%;
    padding-top: 1%;
    border-radius: 2%;
}

.success {
    position: absolute;
    top: 0;
    height: 5%;
    padding-top: 1%;
    border-radius: 2%;
}